{% extends 'base.html.twig' %}

{% block title %}Votre Espace Client{% endblock %}

{% block body %}
<div class="container">
			<div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Changer vos information personnelle</h5>
                        <p class="card-text">Nom: {{app.user.client.nom}} </br>
                        Prénom: {{app.user.client.prenom}} </br>
                        téléphone: {{app.user.client.phone}} 
                        </p>
                        <a href="{{ path('account_modifierclient') }}" class="btn btn-primary">Modifier votre profile</a>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('account_adresselivraison') }}">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vos adresses de livraisons</h5>
                        <p class="card-text">Modifier les adresses et les préférences de livraison de vos commandes</p>
                    </div>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('account_adressefacturation') }}">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vos adresses de facturations</h5>
                        <p class="card-text">Modifier les adresses et les préférences de facturations de vos commandes</p>
                    </div>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('account_commandes') }}">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vos commandes</h5>
                        <p class="card-text">Un historique de vos achats sur notre plateforme</p>
                    </div>
                    </div>
                    </a>
                </div>
            </div>
</div>
{% endblock %}
