{% extends 'base.html.twig' %}

{% block title %}Adressefacturation{% endblock %}

{% block body %}
    <h1>Adressefacturation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adressefacturation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adressefacturation.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adressefacturation.telephone }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adressefacturation.rue }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adressefacturation.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adressefacturation.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adressefacturation_index') }}">back to list</a>

    <a href="{{ path('adressefacturation_edit', {'id': adressefacturation.id}) }}">edit</a>

    {{ include('adressefacturation/_delete_form.html.twig') }}
{% endblock %}
