{% extends 'base.html.twig' %}

{% block title %}Adressefacturation{% endblock %}

{% block body %}
    <h1>Adressefacturation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adressefacturation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adressefacturation.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adressefacturation.telephone }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adressefacturation.rue }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adressefacturation.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adressefacturation.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('account') }}">back to list</a>

    <a href="{{ path('account_adressefacturation_edit', {'id': adressefacturation.id}) }}">edit</a>

    {{ include('account/_delete_formadressefacturation.html.twig') }}
{% endblock %}
