{% extends 'base.html.twig' %}

{% block title %}Adresselivraison{% endblock %}

{% block body %}
    <h1>Adresselivraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresselivraison.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adresselivraison.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adresselivraison.telephone }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresselivraison.rue }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adresselivraison.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresselivraison.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('account') }}">back to list</a>

    <a href="{{ path('account_adresselivraison_edit', {'id': adresselivraison.id}) }}">edit</a>

    {{ include('account/_delete_formadresselivraison.html.twig') }}
{% endblock %}
