{% extends 'base.html.twig' %}

{% block title %}Page Créer un compte{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
            {{ form_start(formUser) }}
            <div class="col-sm-4 mx-auto">
            {{ form_widget(formUser) }}
            </div>
            {{ form_end(formUser) }}
            {{ form_start(formClient) }}
            <div class="col-sm-4 mx-auto">
            {{ form_widget(formClient) }}
            </div>
            {{ form_end(formClient) }}
            <button rtype="submit" class="btn btn-primary">enregistrer</button>
    </div>
</div>
{% endblock %}
