{% extends 'base.html.twig' %}

{% block title %}Zone Cash{% endblock %}

{% block body %}
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1>
                                        <span>Cash</span>-Zone</h1>
                                    <h2>Free E-Commerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <img
                                        src="{{ asset('assets/images/shop/lenovo1.jpg') }}"
                                        class="girl img-responsive"
                                        alt=""/>
                                    <img src="images/home/pricing.png" class="pricing" alt=""/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1>
                                        <span>Cash</span>-Zone</h1>
                                    <h2>100% Responsive Design</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <img
                                        src="{{ asset('assets/images/shop/msi1.jpg') }}"
                                        class="girl img-responsive"
                                        alt=""/>
                                    <img src="images/home/pricing.png" class="pricing" alt=""/>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1>
                                        <span>Cash</span>-Zone</h1>
                                    <h2>Free Ecommerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <img
                                        src="{{ asset('assets/images/shop/Applephone1.jpg') }}"
                                        class="girl img-responsive"
                                        alt=""/>
                                    <img
                                        src="{{ asset('assets/images/home/pricing.jpg') }}"
                                        class="pricing"
                                        alt=""/>
                                </div>
                            </div>

                        </div>

                        <a
                            href="#slider-carousel"
                            class="left control-carousel hidden-xs"
                            data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a
                            href="#slider-carousel"
                            class="right control-carousel hidden-xs"
                            data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/slider-->
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Categories</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            {% include 'menu.html.twig' %}                      
                        </div>
                        <!--/category-products-->
                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="{{ asset('assets/images/home/shipping.jpg') }}" alt=""/>
                        </div>
                        <!--/shipping-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Tous nos produits</h2>
                        {% for art in page %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('assets/images/shop/' ~ art.image ~ '') }}" alt=""/>
                                            <h2>{{art.prix}}€</h2>
                                            <a href="{{path('article', {'slug':art.slug})}}"><p>{{art.nom}}</p></a>
                                            {% if not app.user %}
                                                <a href="{{path('app_login')}}" class="btn btn-default add-to-cart">
                                            {% else %}
                                                <a href="{{path('panier_add', {'slug':art.slug})}}" class="btn btn-default add-to-cart">
                                            {% endif %}
                                            <i class="fa fa-shopping-cart"></i>Ajouter au panier</a>

                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>{{art.prix}}€</h2>
                                                <a href="{{path('article', {'slug':art.slug})}}"><p>{{art.nom}}</p></a>
                                                {% if not app.user %}
                                                    <a href="{{path('app_login')}}" class="btn btn-default add-to-cart">
                                                {% else %}
                                                    <a href="{{path('panier_add', {'slug':art.slug})}}" class="btn btn-default add-to-cart">
                                                    
                                                {% endif %}                                                    
                                                <i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li>
                                                <a href="{{path('favoris_add', {'slug':art.slug})}}">
                                                    <i class="fa fa-plus-square"></i>Ajouter en favoris</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {{ knp_pagination_render(page, 'base/pagination.html.twig')}}


                    </div>
                    <!--features_items-->



                </div>
            </div>
        </div>
    </section>
{% endblock %}