{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'New Article' %}
{% block head_javascript %}
        <script src="{{ asset('bundles/easyadmin/app.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        var disabledSouscategorie = function () {
        $('#article_souscategorie').attr("disabled", true)
        $('#article_souscategorie').children('option').remove();
        $('#article_souscategorie').append('<option value="">selectionner votre marque</option>');
    }
        $(document).ready(function() {
            $(document).on("change", "#article_categorie", function() {
                disabledSouscategorie();
                // $( 'form[name="article"]' ).children('input').each(function(){
                //     console.log(this.name);
                // });
                var categorie = $('#article_categorie').val();
                console.log(categorie);
                // var image = $('#article_image').val();
                // var image = $('#article_image').val();
                if (categorie !== '') {
                    var $form = $(this).closest('form');
                    var datas = {};
                    $('form[name="article"] input, form[name="article"] select, form[name="article"] textarea').each(function(index){
                        var input = $(this);
                        if(input.attr('name') != 'article[_token]'){
                            console.log(input.attr('name'));
                            datas[$('#'+input.attr('id')).attr('name')] = input.attr('value');
                        }
                    });
                    // datas[$('#article_categorie').attr('name')] = categorie;
                    // datas[$('#article_image').attr('name')] = image;
                    // console.log($form['form'][0]);
                    $.ajax({
                        url: $form.attr('action'),
                        type: $form.attr('method'),
                        data: datas,
                        success: function(html) {  
                            console.log($(html).find('#article_categorie'));         
                            $('#article_souscategorie').replaceWith(
                                $(html).find('#article_souscategorie')
                            );
                        },
                        error: function(html) {
                            // console.log(html);
                        }
                    });
                }
            });
        });
        </script>
{% endblock head_javascript %}

{% block page_content %}
{{form_start(form)}}
{{form_widget(form)}}
<button type="submit" class="btn btn-primary">enregistrer</button>
{{form_end(form)}}

{# {{dump()}} #}


{% endblock %}