{% extends 'base.html.twig' %}

{% block title %}Cash-Zone | {{article.nom}}{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% include 'menu.html.twig' %}
						</div><!--/category-products-->
						<div class="shipping text-center"><!--shipping-->
							<img src="{{ asset('assets/images/home/shipping.jpg') }}" alt="" />
						</div><!--/shipping-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
                                <img src="{{ asset('assets/images/shop/' ~ article.image ~ '') }}" alt=""/>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{ article.nom }}</h2>
                                
								<p>Web ID: {{ article.slug}}</p>
								<p><b>{% if article.stock > 0 %} In Stock {% else %} rupture de stock {% endif %}</b></p>
                                <p><b>Couleur:</b> {{ article.couleur }}</p>
								<span>
									<span>{{ article.prix }}€</span>
									{% if not app.user %}
										<a href="{{path('app_login')}}" class="btn btn-default add-to-cart">
									{% else %}
										<a href="{{path('panier_add', {'slug':article.slug})}}">				
									{% endif %}   
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Ajouter au Panier
									</button></a>
									<p>{{article.description}}</p>
								</span>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#reviews" data-toggle="tab">Avis({{commentaire|length}})</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									
										{% for com in page %}
												<ul>
													<li><a href=""><i class="fa fa-user"></i>{{ com.client.nom}}</a></li>
													<li><a href=""><i class="fa fa-clock-o"></i>{{ com.dateheure|date('H:i:s') }}</a></li>
													<li><a href=""><i class="fa fa-calendar-o"></i>{{ com.dateheure|date('d-m-Y') }}</a></li>
												</ul>
												<p>{{ com.contenu}}</p>
												
												
											
										{% endfor %}
										{{ knp_pagination_render(page, 'base/pagination.html.twig')}}

										{% if is_granted('ROLE_CLIENT') == true %}
											<p><b>Écrire un commentaire client</b></p>
											{{ form(formCom) }}
										{% else %}
											<button type="button" class="btn btn-default add-to-cart"> <a href="{{path('app_login')}}" >Connexion</a></button>
										{% endif %}
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
